DATABASE_URL=postgres://postgres:password@localhost:5433/multi-tenant-poc
PAYLOAD_SECRET=d321d5c9cb48e2ece911a67e

# S3 Configuration
S3_BUCKET=your-bucket-name
S3_REGION=ap-south-1
S3_ACCESS_KEY_ID=your-access-key-id
S3_SECRET_ACCESS_KEY=your-secret-access-key
S3_ENDPOINT=https://s3.ap-south-1.amazonaws.com

# Gemini API Key
GEMINI_API_KEY=AIzaSyD5xUQNnNY9z3VupAEfCP3ZYefQHfAbPIw
